---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nosotros" description="Pagina de tienda de instrumentos musicales">
	<h1 class="heading">Carrito</h1>

	<section class="contenedor">
		<div class="grid">
            <div>

            </div>
            <div>

            </div>
        </div>
	</section>
</Layout>

<style>
	.grid{
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
</style>